* {
  margin : 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color:rgba(255, 255, 255, 1);
  text-decoration:none;
}
/*text */

.primary-text {
  color: rgba(255, 255, 255, 1);
}

.secondary {
  color: rgba(255, 255, 255, 0.7);
}

body {width: 100%;

    font-family: 'Open Sans', sans-serif, 'Helvetica', sans-serif, 'Arial', sans-serif;
    font-weight: 300;}

.cf {
  *zoom: 1;
}
.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}


/*start nav */

.backround {
  background: rgba(0, 0, 0, 0.55);

}
.navbar {
  display: ;
  background: transparent;
  margin-top: 30px;
  position: fixed;
  display: block;
  right: 0;
  left: 0;
  z-index: 200;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;

}


.mobile-navmenu {
  display: none;
}
.container {
  width: 1075px;
  margin-left: auto;
  margin-right: auto;
}

.navlogo {
  float: left;
  font-size: 20px;
    color: #fff;
    font-weight: 300;
    line-height: 60px;
    padding: 0 15px;
}
.navlogo img {
  vertical-align: middle;
}

.navmenu {
  float: right;
  list-style: none;
  display: inline-block;
}

.navmenu li {
  float: left;
  display: inline-block;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.navmenu li a {
  padding: 17px;
  display: block;
  color: #fff;
  text-decoration: none;
}

.is-showing {
  display: hidden
}

.navmenu li a:hover {
  background:rgba(0, 0, 0, 0.69);
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
color: #2196F3;
}

.navmenu li a:not(.Now){
  border-bottom: 4px solid transparent;
}

.Now {
  border-bottom: 4px solid #2196F3;;
}

/* Finish nav*/

.Header {
  display: block;
  background-color: grey;
  position: relative;
  height: 100vh;

}

.Hero {
  background-image: url(../Heroimage.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

.Middle {
  position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text-center {
  text-align: center;
}

.Heading {
  font-size: 45px;
  letter-spacing: 9.5px;
  text-transform: uppercase;
  padding-top: 30px;
}

.subtitle {

  font-size: 72px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.Myname {
  font-weight: 400;
  padding-bottom: 30px;
}
/* quote section */

.Getquote {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 40px 0;
}
.leftquote{
  float: left;
  width: 75%;
}
h1 {
  font-size: 45px;
  font-weight: 300;
}
.leftquote p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.49);

}

.rightquote {
  float: right;
  width: 25%;

}

.quotebutton {
  font-size: 24px;
  display: block;
  position: relative;
  padding: 16px 67px;
  background-color: #2196F3;
  text-shadow: 0px 0px 60px white;
    margin-top: 23px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.78);
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.quotebutton:hover {
  background-color: #1565C0;
}

/* skillss */

.Skills {
  margin-top: 40px;
}
.Skills h1 {
  color: rgba(0, 0, 0, 0.87);
}
.Skills p {
  margin: 15px 0px 30px 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}



.skill-list {
  width: 100%;
}

.skill-list li {
  list-style: none;
  float: left;
  width: 33%;
  margin:10px 0;
  padding: 0 10px;

}

.Skillboxes {
  height: 200px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.9);
  border-right: 0px solid black;
  border-left: 0px solid black;
  border-bottom: 0px solid black;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
opacity: 0;
transform: translateY(-20px);
}

.is-showing {
  opacity: 1;
  transform: translateY(0px);
}

.Skills h4 {
  color: white;
  font-weight: 400;
  font-size: 28px;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.Skills li p {
  color: rgba(255,255,255,0.5);
font-size: 14px;
}

.Skills li:hover h4 {
  color: #2196F3;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;

}

.Skills li:hover .Skillboxes {
  box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.76);
  border-right: 5px solid #2196F3;
  border-left: 5px solid #2196F3;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

/*languages*/

.Languages {
  margin-top: 30px;
}

.Languages h1 {
  color: rgba(0, 0, 0, 0.87);
}
.Languages p {
  margin: 15px 0px 30px 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}

.Language-list {
  width: 100%;
}

.Language-list li {
  list-style: none;
  float: left;
  width: 50%;
  margin:10px 0;
  padding: 0 10px;

}

.Skillboxes {
  height: 200px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.9);

  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.Languages h4 {
  color: white;
  font-weight: 400;
  font-size: 28px;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.Languages li p {
  color: rgba(255,255,255,0.5);
font-size: 14px;
}

.Languages li:hover h4 {
  color: #2196F3;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
font-size: 35px;
}



.Languages li:hover .Skillboxes {
  box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.76);
  border-bottom: 5px solid #2196F3;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.Portfolio {
  margin-top: 50px;
  background: grey;
  padding: 100px 0;
  background-image: url(../Heroimage.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

.Portfolio-button {
  font-size: 24px;
  display: block;
  position: relative;
  padding: 16px 67px;
  background-color: #2196F3;
  text-shadow: 0px 0px 60px white;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.78);
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.Portfolio-button:hover {
  background-color: #1565C0;
}

/*contact*/

.Contact {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px 0 50px 0;
}

.Contact h1 {
  color: white;
  margin-bottom: 10px;
}

.Contact .Left {
  float: left;
  width: 50%;
  height: 150px;
}

.Inputs {
  width: 100%;
padding-top: 0px;
display: block;
padding: 10.6px;
background-color: #191919;
margin-bottom: -1px;
border: 1px #A9A9A9 solid;
border-right: none;
color: darkgrey;

}

.Inputs:focus ,  .right textarea:focus{
  background-color: #212121;
}
.Contact .right {
  float: right;
  width: 50%;
  background-color: #191919;
  height: 150px;
}

.right textarea {
  width: 100%;
  height: 100%;
  resize: none;
  color: darkgrey;
  padding: 6px;
  background-color: #191919;
}

.Submit-container{
  margin-top: 30px;
width: 90%;
margin-left: auto;
margin-right: auto;
}
.submit {
  width: 100%;
  height: 35px;
  background-color: #2196F3;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
.Contact p{
  color: white;
  font-size: 10px;
  float: right;
}

.footer {
}

.email {
  padding: 30px 0;
  background-color: white;
}
.copyright {
  background: rgba(0, 0, 0, 0.83);
  color: rgba(255, 255, 255, 0.38);;
}

.work {
  background: rgba(0, 0, 0,0.9);
  color : white ;
  padding: 30px 0 50px 0;
}
.work h1{
  margin-bottom: 40px;
}

.Work-container li {
  height: 200px;
  width:25%;
  list-style: none;
  background-position: center;
  background-size: cover;
  float: left;
}

.workinfo {
  text-align: center;
  position: relative;
  opacity: 0;
  background: rgba(16, 15, 16, 0.71);
  height: 100%;
-webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;

}

.workinfo p {
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 24px;
  letter-spacing: 5px;
}

li a {
  color: white;
  text-decoration: none;
}

.workinfo:hover  {
  opacity: 1;
}

/*about me*/
.Aboutme {
  padding: 40px 0 60px 0;
}

.Aboutme img {
  height: 200px;
  width: 100%;
  background: blue;
}
.Aboutme h2 {
  font-weight: 400;
    font-size: 36px;
    padding: 20px 0 10px 0;

}

.Aboutme p {
  width: 700px;
    margin: 0 auto;
}
