@media(max-width:1075px) {
  .container{
    width: 100%
  }
  .subtitle {
    font-size: 50px;
  }

  .leftquote{
    float: none;
    width: 100%;
    text-align: center;
  }
  .rightquote {
    float: None;
    width: 100%;
    text-align: center;
  }

    .skill-list li {
      width: 100%;
  }
  .Language-list li {
    width: 100%;
}
    .Portfolio-button {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
    .Contact .Left{
      width: 100%;
      padding: 0 20px;
      height: auto;
    }
    .Contact .right{
      width: 100%;
      padding:0 20px 0 20px;
    }
    .email h1 {
      font-size: 28px;
    }
    .Work-container li {
      width: 50%;
    }
    .Aboutme p {
      width: %;
    }
    .workinfo{
    opacity: 0.5;
    }
    .Inputs {
      border-right:  1px #A9A9A9 solid;
      border-bottom: none;
    }

}

@media (max-width:675px)  {
  .Header {

  }
  .navmenu {
    display: none;
  }
  .Aboutme p {
    width: 100%;
  }

  .navbar {
    background: rgba(0, 0, 0, 0.79) !important;
    margin-top: 0px !important;
  }

  .navlogo img{
    display: none;
  }

  .mobile-nav-toggle{
    display: flex;
    position: relative;
    float: right;
    width: 50px;
    height: 50px;
    background: ;
    margin-right: 20px;
    top: 5px;
    align-items: center;
    z-index: 5;
    cursor: pointer;
  }

  .mobile-nav-toggle span , .mobile-nav-toggle span:before , .mobile-nav-toggle span:after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background: white;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  span::after {
    top:15px;
  }

  span::before {
    top: -18px;
  }

  .navlogo {
    float: left;
  }

  .email h1 {
    font-size: 20px;
  }

  .is-open span {
    background: transparent;
  }

  .is-open span:after , .is-open span:before{
    transform-origin: center;
    transform: rotate(-45deg);
    top: 0 ;
  }
  .is-open span:after{
    transform: rotate(45deg);
    top: -3px;
  }

  .mobmenu .mobile-navmenu{
    display: block;
    position: fixed;
    left: 0;
    width: 100%;
    top:60px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translateX(1000px);
    opacity:1;

  }
  .greyed {
    color:rgba(255, 255, 255, 0.7);
  }
  .is-open .mobile-navmenu{
    display: block;
    transform: translateX(0);
    opacity: 1;
  }
  .mobile-navmenu li {

    padding: 20px 0 ;
    font-weight: 400;
    list-style: none;
    font-size:24px;
  }


}
